.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.center_login {
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
}

.question_header {
  position: absolute;
  font-family:"verdana";
  font-size: 20px;
  font-weight: bold;
  left: 15%;
  top: -5%;
}

.welcome_header {
  position: absolute;
  top: -1%;
  left: 5%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family:"verdana";

}

.userscore_header {
  position: absolute;
  flex-shrink: 1;
  top: -1%;
  left: 55%;
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  font-family:"verdana";

}

.currscore_header {
  position: absolute;
  top: -1%;
  left: 35%;
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  font-family:"verdana";

}

.globalscore_header {
  position: absolute;
  top: -1%;
  left: 75%;
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  font-family:"verdana";

}

.center_image {

  position:absolute;
  top: 20%;
  left: 10%;

}

.question_text {
  
  position:absolute;
  top: 95%;
  left: 10%;
  font-weight: bold;

}


.cols {
  width:20%;
  float:left;
}
.rows {
  height:100px;
}

.questionimg {
  position: absolute; 
  left: 50%;
  top: 40%; 
  transform: translate(-50%, -50%);
  width: 400px; 
  height: 400px; 
}

.login {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  background-color: #6f4eca; /* Green */
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family:"verdana";
}

.intro {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  font-family:"verdana"
}

.intro_login {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-family:"verdana"
}

.header {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-family:"verdana"
}

.header_login {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  font-family:"verdana"
}

.loginform {
  position: absolute;
  left: 50%;
  top: 72%;
  transform: translate(-50%, -50%);
  font-family:"verdana";
  width: 300px;
  border: 1px solid black;
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
}

.gameover {
  position: absolute; 
  font-family:"verdana";
  font-weight: bold;
  font-size: 35px;
  left: 35%;
  top: 30%; 
  color: red;
}

.leaderboard_header {
  position: absolute; 
  font-family:"verdana";
  font-weight: bold;
  font-size: 35px;
  left: 40%;
  top: 10%; 
  color: rgb(0, 0, 0);
}

.returnHome {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: #6f4eca; /* Green */
  border: none;
  color: white;
  padding: 20px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family:"verdana";
}

.userOptions {
  position: absolute; 
  left: 50%; 
  top: 80%; 
  transform: translate(-50%, -50%); 
  border: none; 
}

.optionsButton {
  position: absolute;
  left: 50%;
  top: 500%;
  transform: translate(-50%, -50%);
  background-color: #6f4eca; /* Green */
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family:"verdana";
}

.optionsButton_question {
  position: absolute;
  left: 45%;
  top: 140%;
  transform: translate(-50%, -50%);
  background-color: #6f4eca; /* Green */
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family:"verdana";
}

.status_header {
  position: absolute;
  left: 38%;
  top: -15%;
  font-size: 20px;
  font-family:"verdana";
  font-weight: bold;
}

.in_status_header {
  position: absolute;
  left: 35%;
  top: -15%;
  font-size: 20px;
  font-family:"verdana";
  font-weight: bold;
}

.optionsButton_home {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  background-color: #6f4eca; /* Green */
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family:"verdana";
}

.optionsButton_afterquestion {
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
  background-color: #6f4eca; /* Green */
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family:"verdana";
}



.optionsButton_leaderboard {
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
  background-color: #6f4eca; /* Green */
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family:"verdana";
}

.design {
  width: 16px;
  height: 16px;

  border: 1px solid var(--other);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.design::before,
.design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: var(--other);
  opacity: 0;
  transition: .3s;
}

.design::after {
  background: var(--primary);
  opacity: .4;
  transition: .6s;
}


/* .text */
.text {
  color: var(--other);
  font-weight: bold;
}

.choice1 {
  position: absolute;
  left: 25%;
  top: 105%
}
.choice2 {
  position: absolute;
  left: 25%;
  top: 110%
}
.choice3 {
  position: absolute;
  left: 25%;
  top: 115%
}
.choice4 {
  position: absolute;
  left: 25%;
  top: 120%
}


/* checked state */
input:checked+.design::before {
  opacity: 1;
  transform: scale(.6);
}


/* other states */
input:hover+.design,
input:focus+.design {
  border: 1px solid var(--primary);
}

input:hover+.design:before,
input:focus+.design:before {
  background: var(--primary);
}

input:hover~.text {
  color: var(--primary);
}

input:focus+.design::after,
input:active+.design::after {
  opacity: .1;
  transform: scale(2.6);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  background: hsla(0, 0%, 98%, .6);
  font-size: 16px;
}

.optionsButton_play {
  position: absolute;
  left: 50%;
  top: -220%;
  transform: translate(-50%, -50%);
  background-color: #6f4eca; /* Green */
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  font-family:"verdana";
}

table.leaderboard td {
  position: relative;
  left: 120%;
  top: 50%;
  font-size: 150%;
  font-family:"verdana";
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}

table.leaderboard {
  border-collapse: separate;
  border-spacing: 20px;
}

.rectangle {
  position: absolute;
  height: 50px;
  width: 1500px;
  background-color: rgb(255, 0, 200);
}



/* Table Styles */

.table-wrapper{
  margin: 180px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: rgb(255, 0, 200);
}

.header_line {
  content:' ';
  display: block;
  width: 800px;
  height: 1px;
  background: #000000;
  margin: 65px auto;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }

  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

